# Import enwiki-latest-category.sql into MySQL Server

## TL;DR

- I got the table into MySQL.
- Next step: export/import it into PostgreSQL

## BASH and MySQL Commands

---------
BASH
---------
sudo service mysql start
mysql --user=root --password=XXXXXXXX

---------
MySQL
---------
CREATE DATABASE latest_categ CHARACTER SET utf8 COLLATE utf8_bin;
CREATE USER bhrdwj@localhost IDENTIFIED BY 'XXXXXXXX';
GRANT ALL PRIVILEGES ON latest_categ.* TO bhrdwj@localhost IDENTIFIED BY 'XXXXXXXX';
exit



---------
BASH
---------
mysql --user=bhrdwj --password=XXXXXXXX

---------
MySQL
---------
USE latest_categ;
exit

---------
BASH
---------
mysql --user=bhrdwj --password=XXXXX latest_categ < enwiki-latest-category.sql > output.tab

---------
MySQL
---------
show tables;
show columns from category;
select count(*) from category;

MariaDB [latest_categ]> show tables;
+------------------------+
| Tables_in_latest_categ |
+------------------------+
| category               |
+------------------------+
1 row in set (0.001 sec)


MariaDB [latest_categ]> select count(*) from category;
+----------+
| count(*) |
+----------+
|  2209005 |
+----------+
1 row in set (0.000 sec)


MariaDB [latest_categ]> show columns from category;
+-------------+------------------+------+-----+---------+----------------+
| Field       | Type             | Null | Key | Default | Extra          |
+-------------+------------------+------+-----+---------+----------------+
| cat_id      | int(10) unsigned | NO   | PRI | NULL    | auto_increment |
| cat_title   | varbinary(255)   | NO   | UNI |         |                |
| cat_pages   | int(11)          | NO   | MUL | 0       |                |
| cat_subcats | int(11)          | NO   |     | 0       |                |
| cat_files   | int(11)          | NO   |     | 0       |                |
+-------------+------------------+------+-----+---------+----------------+
5 rows in set (0.003 sec)


MariaDB [latest_categ]> select cat_id, cat_title, cat_subcats from category limit 10;
+--------+----------------------------------------------------------+-------------+
| cat_id | cat_title                                                | cat_subcats |
+--------+----------------------------------------------------------+-------------+
|      2 | Unprintworthy_redirects                                  |          20 |
|      3 | Computer_storage_devices                                 |          11 |
|      7 | Unknown-importance_Animation_articles                    |          22 |
|      8 | Low-importance_Animation_articles                        |          22 |
|      9 | Vietnam_stubs                                            |          10 |
|     10 | Rivers_of_Vietnam                                        |           3 |
|     11 | Quang_Binh_Province                                      |           0 |
|     12 | All_articles_with_unsourced_statements                   |           0 |
|     14 | Wikipedia_articles_needing_clarification                 |         183 |
|     15 | Articles_needing_additional_references_from_January_2008 |           0 |
+--------+----------------------------------------------------------+-------------+
10 rows in set (0.017 sec)


---------
BASH
change user if I need to
---------
system mysql -u bhrdwj -p