# Import dump into MySQL with Python

## Imports and paths

In [1]:
import os
from pathlib import Path
import pandas as pd
import mysql.connector as mysql

In [2]:
home_path = str(Path.home())
os.chdir(home_path + '/git/predwikt/notebooks')

## Starting / Restarting MariaDB after it dies:

### Initialize in bash

**bash**
```bash
service mysqld start
netstat -lnp | grep mysql
```
(I had to use mysqld not mysql: [link](https://stackoverflow.com/questions/11990708/error-cant-connect-to-local-mysql-server-through-socket-var-run-mysqld-mysq))

### Starting mysql.connect

#### Get passwords for mysql.connect

In [ ]:
mysql_superuser = 'root'
# mysql_su_pass = input(f'Enter the MySQL password for user {mysql_superuser}: ')
mysql_defaultuser = 'bhrdwj'
# mysql_def_pass = input(f'Enter the MySQL password for user {mysql_defaultuser}: ')

#### Connect mysql.connect and initialize cursor

In [ ]:
db_mysql = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = mysql_su_pass,
    database='latest_page' # not the first time around
)
cur_mysql = db_mysql.cursor()

#### Check current user

In [ ]:
cur_mysql.execute('select user();')
print(cur_mysql.fetchall())
cur_mysql.execute('select database();')
print(cur_mysql.fetchall())
cur_mysql.execute('show tables;')
print(cur_mysql.fetchall())

In [ ]:
cur_mysql.execute('DESCRIBE page;')
schema = pd.DataFrame(cur_mysql.fetchall(), columns=['Field','Type','Null','Key','Default','Extra'])
schema;

### Drop the incomplete table and put back schema

#### Drop the incomplete table

cur_mysql.execute("DROP TABLE IF EXISTS `page`;")
# cur_mysql.fetchall()

#### Put create_table_str into memory

create_table_str = '''

CREATE TABLE `page` (

  `page_id` int(8) unsigned NOT NULL AUTO_INCREMENT,

  `page_namespace` int(11) NOT NULL DEFAULT 0,

  `page_title` varbinary(255) NOT NULL DEFAULT '',

  `page_restrictions` tinyblob DEFAULT NULL,

  `page_is_redirect` tinyint(1) unsigned NOT NULL DEFAULT 0,

  `page_is_new` tinyint(1) unsigned NOT NULL DEFAULT 0,

  `page_random` double unsigned NOT NULL DEFAULT 0,

  `page_touched` varbinary(14) NOT NULL,

  `page_links_updated` varbinary(14) DEFAULT NULL,

  `page_latest` int(8) unsigned NOT NULL DEFAULT 0,

  `page_len` int(8) unsigned NOT NULL DEFAULT 0,

  `page_content_model` varbinary(32) DEFAULT NULL,

  `page_lang` varbinary(35) DEFAULT NULL,

  PRIMARY KEY (`page_id`),

  UNIQUE KEY `page_name_title` (`page_namespace`,`page_title`),

  KEY `page_random` (`page_random`),

  KEY `page_len` (`page_len`),

  KEY `page_redirect_namespace_len` (`page_is_redirect`,`page_namespace`,`page_len`)

) ENGINE=InnoDB AUTO_INCREMENT=69166249 DEFAULT CHARSET=binary ROW_FORMAT=COMPRESSED;

'''

#### Recreate the table schema

cur_mysql.execute(create_table_str)

### Repopulate the table

#### Populate one line worth of records into the table

In [ ]:
# cur_mysql.execute()

### Check row count, get line lengths

In [ ]:
def open_dump(url):
    return open(url, mode='r', encoding='UTF_8', errors='backslashreplace')

dump_url = '../data/raw/enwiki-latest-page.sql'

#### Check row count

In [ ]:
f = open_dump(dump_url)

row_ct_sqldump = 0
for line in f: 
    row_ct_sqldump+=1
print(row_ct_sqldump)
f.close()

In [ ]:
line_lengths = get_line_lengths(dump_url)

In [ ]:
len(line_lengths)

#### Define a function to get line lengths

In [ ]:
def get_line_lengths(dump_url):
    line_lengths = []
    with open_dump(dump_url) as f:
        for line in f:
            line_lengths.append(line)
    return line_lengths

#### Define a function to get selected strings

In [ ]:
def get_those_rows(start, end, dump_url):
    those_rows = []
    with open_dump(dump_url) as f:
        for i in range(end):
            if i < start:
                f.readline()
            elif i >= start:
                those_rows.append(f.readline())
            else:
                break
    return those_rows

#### Get start/end row numbers for headers, data, footers

In [ ]:
some_row_lengths =  list(map(len,some_rows_sqldump))

In [ ]:
some_row_lengths_series = pd.Series(some_row_lengths, name='line_lengths')

In [ ]:
i=0
while some_row_lengths[i] < 10**4:
    i+=1
head_last_rownum = i-1
data_first_rownum = i

In [ ]:
i=row_ct_sqldump-99
while some_row_lengths[i] > 10**4:
    i+=1
data_last_rownum = i-1
foot_first_rownum = i

#### Display start/end row numbers

In [ ]:
display(0, head_last_rownum, data_first_rownum, data_last_rownum, foot_first_rownum, row_ct_sqldump)

#### Check start/end row numbers for headers, data, footers

In [ ]:
some_rows_sqldump[head_last_rownum][:100],'',some_rows_sqldump[data_first_rownum][:300]

In [ ]:
some_rows_sqldump[data_last_rownum][:300],'',some_rows_sqldump[foot_first_rownum][:100]