# Get categories

## Setup

### Imports

In [5]:
import os
from pathlib import Path
import pandas as pd
import psycopg2
import mysql.connector as mysql

import subprocess

In [6]:
home_path = str(Path.home())
os.chdir(home_path + '/git/predwikt/notebooks')

### Initialize in bash

#### Initialize mysql manually in bash

**bash**
```bash
sudo service mysqld stop

sudo service mysqld start
```
(I had to use mysqld not mysql: [link](https://stackoverflow.com/questions/11990708/error-cant-connect-to-local-mysql-server-through-socket-var-run-mysqld-mysq))

#### Check sql is running

**bash**
```bash
netstat -lnp | grep mysql
```

### Starting mysql.connect

#### Get passwords for mysql.connect

In [3]:
mysql_superuser = 'root'
# mysql_su_pass = input(f'Enter the MySQL password for user {mysql_superuser}: ')

In [66]:
pg_superuser = 'postgres'
# pg_su_pass = input(f'Enter the PostgreSQL password for user {pg_superuser}: ')

In [90]:
mysql_defaultuser = 'bhrdwj'
# mysql_def_pass = input(f'Enter the MySQL password for user {mysql_defaultuser}: ')
pg_defaultuser = 'bhrdwj'
# pg_def_pass = input(f'Enter the PostgreSQL password for user {pg_defaultuser}: ')

#### Connect mysql.connect to mysql

In [26]:
db_mysql = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = mysql_su_pass,
    database='latest_categorylinks' # not the first time around
)

#### Initialize a cursor

In [27]:
cur_mysql = db_mysql.cursor()

#### Check current user

In [15]:
cur_mysql.execute('select user();')
cur_mysql.fetchall()

[('root@localhost',)]

In [16]:
cur_mysql.execute('select database();')
cur_mysql.fetchall()

[('latest_categorylinks',)]

In [17]:
cur_mysql.execute('show tables;')
cur_mysql.fetchall()

[('categorylinks',)]

In [18]:
cur_mysql.execute('DESCRIBE categorylinks;')
schema = pd.DataFrame(cur_mysql.fetchall(), columns=['Field','Type','Null','Key','Default','Extra'])

In [19]:
# schema.to_csv('../data/raw/schemas/schema_enwiki-categorylinks.csv')

In [20]:
schema

,Field,Type,Null,Key,Default,Extra
0,cl_from,int(8) unsigned,NO,PRI,0,
1,cl_to,varbinary(255),NO,PRI,,
2,cl_sortkey,varbinary(230),NO,,,
3,cl_timestamp,timestamp,NO,,current_timestamp(),on update current_timestamp()
4,cl_sortkey_prefix,varbinary(255),NO,,,
5,cl_collation,varbinary(32),NO,MUL,,
6,cl_type,"enum('page','subcat','file')",NO,,page,

## categorylinks EDA

In [28]:
cur_mysql.execute('SELECT * FROM categorylinks LIMIT 5;')
cur_mysql.fetchall()

[(10,
  bytearray(b'Redirects_from_moves'),
  bytearray(b'*..2NN:,@2.FBHRP:D6\x01\x17\x01\xdc\xbd\xdc\x0c'),
  datetime.datetime(2014, 10, 26, 12, 50, 23),
  bytearray(b''),
  bytearray(b'uca-default-u-kn'),
  bytearray(b'page')),
 (10,
  bytearray(b'Redirects_with_old_history'),
  bytearray(b'*..2NN:,@2.FBHRP:D6\x01\x17\x01\xdc\xbd\xdc\x0c'),
  datetime.datetime(2010, 8, 27, 6, 38, 36),
  bytearray(b''),
  bytearray(b'uca-default-u-kn'),
  bytearray(b'page')),
 (10,
  bytearray(b'Unprintworthy_redirects'),
  bytearray(b'*..2NN:,@2.FBHRP:D6\x01\x17\x01\xdc\xbd\xdc\x0c'),
  datetime.datetime(2010, 8, 27, 6, 38, 36),
  bytearray(b''),
  bytearray(b'uca-default-u-kn'),
  bytearray(b'page')),
 (12,
  bytearray(b'All_articles_lacking_reliable_references'),
  bytearray(b'*D*L.8:NB\x01\r\x01\xdc\x0c'),
  datetime.datetime(2021, 8, 12, 10, 6, 39),
  bytearray(b''),
  bytearray(b'uca-default-u-kn'),
  bytearray(b'page')),
 (12,
  bytearray(b'Anarchism'),
  bytearray(b'\x04\x03\x06*D*L.8:NB\x01\x0f\x01\xc4\xdc\x0c'),
  datetime.datetime(2020, 1, 23, 21, 27, 44),
  bytearray(b' '),
  bytearray(b'uca-default-u-kn'),
  bytearray(b'page'))]