# History tables to mariadb

## peek

### imports

In [2]:
import os, pandas as pd, numpy as np
from datetime import datetime as dt

In [3]:
datapath = '../data/raw/jawiki/dumps_unzipped/'

#### metadata

In [4]:
mtdt = pd.read_csv('../references/metadata/history.tsv', sep='\t')
print(mtdt.col_name.tolist())

['wiki_db', 'event_entity', 'event_type', 'event_timestamp', 'event_comment', 'event_user_id', 'event_user_text_historical', 'event_user_text', 'event_user_blocks_historical', 'event_user_blocks', 'event_user_groups_historical', 'event_user_groups', 'event_user_is_bot_by_historical', 'event_user_is_bot_by', 'event_user_is_created_by_self', 'event_user_is_created_by_system', 'event_user_is_created_by_peer', 'event_user_is_anonymous', 'event_user_registration_timestamp', 'event_user_creation_timestamp', 'event_user_first_edit_timestamp', 'event_user_revision_count', 'event_user_seconds_since_previous_revision', 'page_id', 'page_title_historical', 'page_title', 'page_namespace_historical', 'page_namespace_is_content_historical', 'page_namespace', 'page_namespace_is_content', 'page_is_redirect', 'page_is_deleted', 'page_creation_timestamp', 'page_first_edit_timestamp', 'page_revision_count', 'page_seconds_since_previous_revision', 'user_id', 'user_text_historical', 'user_text', 'user_blocks_historical', 'user_blocks', 'user_groups_historical', 'user_groups', 'user_is_bot_by_historical', 'user_is_bot_by', 'user_is_created_by_self', 'user_is_created_by_system', 'user_is_created_by_peer', 'user_is_anonymous', 'user_registration_timestamp', 'user_creation_timestamp', 'user_first_edit_timestamp', 'revision_id', 'revision_parent_id', 'revision_minor_edit', 'revision_deleted_parts', 'revision_deleted_parts_are_suppressed', 'revision_text_bytes', 'revision_text_bytes_diff', 'revision_text_sha1', 'revision_content_model', 'revision_content_format', 'revision_is_deleted_by_page_deletion', 'revision_deleted_by_page_deletion_timestamp', 'revision_is_identity_reverted', 'revision_first_identity_reverting_revision_id', 'revision_seconds_to_identity_revert', 'revision_is_identity_revert', 'revision_is_from_before_page_creation', 'revision_tags', 'snapshot']

### head

In [5]:
with open(datapath+'2021-12.jawiki.2013.tsv', 'r') as file:
    for i in range(3):
        print(file.readline())

jawiki	revision	create	2013-01-01 00:00:10.0	/* 関連項目 */		219.101.94.150	219.101.94.150										true						2414774	大間材木テレビ中継局	大間材木テレビ中継局	0	true	0	true	true	false	2011-08-23 15:00:28.0	2011-08-23 15:00:28.0	12	6771598																	45611822	44596655	false		false	3283	-1	h5njsxb8189dwoab2z5uh3wvsvn3dh0			false		false			false	false

jawiki	revision	create	2013-01-01 00:00:17.0	/* 中継局概要 */		219.101.94.150	219.101.94.150										true						1185684	片貝中継局	片貝テレビ中継局	0	true	0	true	false	false	2007-10-08 03:33:18.0	2007-10-08 03:33:18.0	32	8974810																	45611823	44232137	false		false	3877	-16	hwp0qzjrb7a9qp46qbcii8qnk9aie2e			false		false			false	false

jawiki	revision	create	2013-01-01 00:00:21.0			219.101.94.150	219.101.94.150										true						1202040	NHK三陸テレビ中継局	NHK三陸テレビ中継局	0	true	0	true	false	false	2007-10-21 01:19:51.0	2007-10-21 01:19:51.0	14	23793706																	45611824	41882385	false		false	2325	12	rc01e5nzqdiqret0snpjqeqfwghpb9l			false		false			false	false

In [7]:
head = pd.read_csv(datapath+'2021-12.jawiki.2013.tsv', sep='\t', nrows=10, header=None, names=mtdt.col_name.tolist())

In [8]:
head.T.iloc[:30,0]

wiki_db                                                      jawiki
event_entity                                               revision
event_type                                                   create
event_timestamp                               2013-01-01 00:00:10.0
event_comment                                            /* 関連項目 */
event_user_id                                                   NaN
event_user_text_historical                           219.101.94.150
event_user_text                                      219.101.94.150
event_user_blocks_historical                                    NaN
event_user_blocks                                               NaN
event_user_groups_historical                                    NaN
event_user_groups                                               NaN
event_user_is_bot_by_historical                                 NaN
event_user_is_bot_by                                            NaN
event_user_is_created_by_self                                   NaN
event_user_is_created_by_system                                 NaN
event_user_is_created_by_peer                                   NaN
event_user_is_anonymous                                        True
event_user_registration_timestamp                               NaN
event_user_creation_timestamp                                   NaN
event_user_first_edit_timestamp                                 NaN
event_user_revision_count                                       NaN
event_user_seconds_since_previous_revision                      NaN
page_id                                                     2414774
page_title_historical                                    大間材木テレビ中継局
page_title                                               大間材木テレビ中継局
page_namespace_historical                                         0
page_namespace_is_content_historical                           True
page_namespace                                                    0
page_namespace_is_content                                      True
Name: 0, dtype: object

In [9]:
head.iloc[:5,0:10]

,wiki_db,event_entity,event_type,event_timestamp,event_comment,event_user_id,event_user_text_historical,event_user_text,event_user_blocks_historical,event_user_blocks
0,jawiki,revision,create,2013-01-01 00:00:10.0,/* 関連項目 */,NaN,219.101.94.150,219.101.94.150,NaN,NaN
1,jawiki,revision,create,2013-01-01 00:00:17.0,/* 中継局概要 */,NaN,219.101.94.150,219.101.94.150,NaN,NaN
2,jawiki,revision,create,2013-01-01 00:00:21.0,NaN,NaN,219.101.94.150,219.101.94.150,NaN,NaN
3,jawiki,revision,create,2013-01-01 00:00:25.0,/* 関連項目 */,NaN,219.101.94.150,219.101.94.150,NaN,NaN
4,jawiki,revision,create,2013-01-01 00:00:25.0,カテゴリの一部変更,12357.0,Yamato-i,Yamato-i,NaN,NaN

In [10]:
head.iloc[:5,10:20]

,event_user_groups_historical,event_user_groups,event_user_is_bot_by_historical,event_user_is_bot_by,event_user_is_created_by_self,event_user_is_created_by_system,event_user_is_created_by_peer,event_user_is_anonymous,event_user_registration_timestamp,event_user_creation_timestamp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN
4,NaN,extendedconfirmed,NaN,NaN,False,False,False,False,NaN,NaN

In [62]:
head.iloc[:5,20:30]

,event_user_first_edit_timestamp,event_user_revision_count,event_user_seconds_since_previous_revision,page_id,page_title_historical,page_title,page_namespace_historical,page_namespace_is_content_historical,page_namespace,page_namespace_is_content
0,NaN,NaN,NaN,2414774,大間材木テレビ中継局,大間材木テレビ中継局,0,True,0,True
1,NaN,NaN,NaN,1185684,片貝中継局,片貝テレビ中継局,0,True,0,True
2,NaN,NaN,NaN,1202040,NHK三陸テレビ中継局,NHK三陸テレビ中継局,0,True,0,True
3,NaN,NaN,NaN,2078520,岩泉惣畑テレビ中継局,岩泉惣畑テレビ中継局,0,True,0,True
4,2004-10-09 14:57:01.0,25247.0,49.0,1414804,国鉄ホキ9500形貨車,国鉄ホキ9500形貨車,0,True,0,True

In [61]:
head.iloc[:5,30:40]

,page_is_redirect,page_is_deleted,page_creation_timestamp,page_first_edit_timestamp,page_revision_count,page_seconds_since_previous_revision,user_id,user_text_historical,user_text,user_blocks_historical
0,True,False,2011-08-23 15:00:28.0,2011-08-23 15:00:28.0,12,6771598,NaN,NaN,NaN,NaN
1,False,False,2007-10-08 03:33:18.0,2007-10-08 03:33:18.0,32,8974810,NaN,NaN,NaN,NaN
2,False,False,2007-10-21 01:19:51.0,2007-10-21 01:19:51.0,14,23793706,NaN,NaN,NaN,NaN
3,False,False,2010-05-02 14:04:34.0,2010-05-02 14:04:34.0,11,389,NaN,NaN,NaN,NaN
4,False,False,2008-04-14 11:48:50.0,2008-04-14 11:48:50.0,44,341692,NaN,NaN,NaN,NaN

In [60]:
head.iloc[:5,40:50]

,user_blocks,user_groups_historical,user_groups,user_is_bot_by_historical,user_is_bot_by,user_is_created_by_self,user_is_created_by_system,user_is_created_by_peer,user_is_anonymous,user_registration_timestamp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
head.iloc[:5,50:60]

,user_creation_timestamp,user_first_edit_timestamp,revision_id,revision_parent_id,revision_minor_edit,revision_deleted_parts,revision_deleted_parts_are_suppressed,revision_text_bytes,revision_text_bytes_diff,revision_text_sha1
0,NaN,NaN,45611822,44596655,False,NaN,False,3283,-1,h5njsxb8189dwoab2z5uh3wvsvn3dh0
1,NaN,NaN,45611823,44232137,False,NaN,False,3877,-16,hwp0qzjrb7a9qp46qbcii8qnk9aie2e
2,NaN,NaN,45611824,41882385,False,NaN,False,2325,12,rc01e5nzqdiqret0snpjqeqfwghpb9l
3,NaN,NaN,45611825,45611800,False,NaN,False,2147,1,hm3lj6sslfo2uy9ylvklty2i1pqnzyw
4,NaN,NaN,45611826,45554142,True,NaN,False,5080,-6,row3mb36wjvy2towqpqz2dlisf5y2fz

In [58]:
head.iloc[:5,60:70]

,revision_content_model,revision_content_format,revision_is_deleted_by_page_deletion,revision_deleted_by_page_deletion_timestamp,revision_is_identity_reverted,revision_first_identity_reverting_revision_id,revision_seconds_to_identity_revert,revision_is_identity_revert,revision_is_from_before_page_creation,revision_tags
0,NaN,NaN,False,NaN,False,NaN,NaN,False,False,NaN
1,NaN,NaN,False,NaN,False,NaN,NaN,False,False,NaN
2,NaN,NaN,False,NaN,False,NaN,NaN,False,False,NaN
3,NaN,NaN,False,NaN,False,NaN,NaN,True,False,NaN
4,NaN,NaN,False,NaN,False,NaN,NaN,False,False,NaN

In [57]:
head.iloc[:5,70:]

   snapshot
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

## go

### split file so I can run csvsql to generate schema script

schema reference from mediawiki: ([link](https://wikitech.wikimedia.org/wiki/Analytics/Data_Lake/Edits/MediaWiki_history#Schema))  
(incomplete reference for mariadb etc)

#### copy 500 rows of the tsv

In [181]:
ct = 0
with open(datapath+'2021-12.jawiki.2013.tsv', 'r') as infile:
    with open('/home/bhrdwj/git/predwikt/data/processed/scratch_for_schema.tsv', 'w+') as outfile:
        while ct < 5*10**2:
            outfile.write(infile.readline())
            ct += 1
print(ct)

500

#### confirm the rows were copied

In [182]:
ct = 0
with open('/home/bhrdwj/git/predwikt/data/processed/scratch_for_schema.tsv', 'r') as file:
    for line in file:
        ct += 1
print(ct)

500

#### hand-edited query

In [31]:
make_history_table = """
CREATE TABLE ja_hist (	
wiki_db	VARCHAR(20) NOT NULL,
event_entity	VARCHAR(20) NOT NULL,
event_type	VARCHAR(20) NOT NULL,
event_timestamp	VARCHAR(30) NOT NULL,
event_comment	TEXT,
event_user_id	BIGINT,
event_user_text_historical	VARCHAR(80),
event_user_text	VARCHAR(80),
event_user_blocks_historical	VARCHAR(30),
event_user_blocks	VARCHAR(60),
event_user_groups_historical	VARCHAR(60),
event_user_groups	VARCHAR(200),
event_user_is_bot_by_historical	VARCHAR(10),
event_user_is_bot_by	VARCHAR(10),
event_user_is_created_by_self	BOOL,
event_user_is_created_by_system	BOOL,
event_user_is_created_by_peer	BOOL,
event_user_is_anonymous	BOOL,
event_user_registration_timestamp	VARCHAR(30),
event_user_creation_timestamp	VARCHAR(30),
event_user_first_edit_timestamp	VARCHAR(30),
event_user_revision_count	BIGINT,
event_user_seconds_since_previous_revision	BIGINT,
page_id	BIGINT,
page_title_historical	VARCHAR(200),
page_title	VARCHAR(200),
page_namespace_historical	INT,
page_namespace_is_content_historical	BOOL,
page_namespace	INT,
page_namespace_is_content	BOOL,
page_is_redirect	BOOL,
page_is_deleted	BOOL,
page_creation_timestamp	VARCHAR(30),
page_first_edit_timestamp	VARCHAR(30),
page_revision_count	BIGINT,
page_seconds_since_previous_revision	BIGINT,
user_id	BIGINT,
user_text_historical	VARCHAR(100),
user_text	VARCHAR(100),
user_blocks_historical	VARCHAR(50),
user_blocks	VARCHAR(50),
user_groups_historical	VARCHAR(50),
user_groups	VARCHAR(50),
user_is_bot_by_historical	VARCHAR(50),
user_is_bot_by	VARCHAR(50),
user_is_created_by_self	BOOL,
user_is_created_by_system	BOOL,
user_is_created_by_peer	BOOL,
user_is_anonymous	BOOL,
user_registration_timestamp	VARCHAR(30),
user_creation_timestamp	VARCHAR(30),
user_first_edit_timestamp	VARCHAR(30),
revision_id	BIGINT,
revision_parent_id	BIGINT,
revision_minor_edit	BOOL,
revision_deleted_parts	VARCHAR(30),
revision_deleted_parts_are_suppressed	BOOL,
revision_text_bytes	BIGINT,
revision_text_bytes_diff	BIGINT,
revision_text_sha1	VARCHAR(50),
revision_content_model	BOOL,
revision_content_format	BOOL,
revision_is_deleted_by_page_deletion	BOOL,
revision_deleted_by_page_deletion_timestamp	VARCHAR(30),
revision_is_identity_reverted	BOOL,
revision_first_identity_reverting_revision_id	BIGINT,
revision_seconds_to_identity_revert	BIGINT,
revision_is_identity_revert	BOOL,
revision_is_from_before_page_creation	BOOL,
revision_tags	VARCHAR(50),
row_id   BIGINT NOT NULL AUTO_INCREMENT,
PRIMARY KEY (row_id)
);
"""

### create table ja_hist

#### imports, login

In [12]:
import mysql.connector as mysql
import sqlalchemy

```bash
mysql --user=root --password=XXXXXXXX
```

```sql
CREATE DATABASE ja_hist CHARACTER SET utf8 COLLATE utf8_bin;
USE jawiki;
GRANT ALL PRIVILEGES ON ja_hist TO bhrdwj@localhost IDENTIFIED BY XXXXXXX;
GRANT ALL PRIVILEGES ON ja_hist.* TO bhrdwj@localhost IDENTIFIED BY XXXXXXX;
EXIT
```

In [14]:
mysql_superuser = 'root'
# mysql_su_pass = input(f'Enter the MySQL password for user {mysql_superuser}: ')

#### connect to database

In [15]:
host='localhost'; user=mysql_superuser; passwd=mysql_su_pass; dbname='ja_hist';
cxn = mysql.connect(host=host,user=user,passwd=passwd, database=dbname)
cur = cxn.cursor()

connection_str = 'mysql+mysqlconnector://'+user+':'+passwd+'@'+host+'/'+dbname  # removed this after host +':'+dbport
try:
    engine1 = sqlalchemy.create_engine(connection_str)
    conn1 = engine1.connect()
except:
    print('Database connection error - check creds')
metadata = sqlalchemy.MetaData(conn1)
metadata.reflect()
metadata.tables.keys()

dict_keys(['ja_hist'])

#### create table with schema

In [16]:
conn1.execute('DROP TABLE IF EXISTS ja_hist;')
conn1.execute(make_history_table)

In [19]:
a = conn1.execute('describe ja_hist;')
a.all();

### insert data

References:  
([link 1](https://mariadb.com/kb/en/load-data-infile/))  
([link 2](https://stackoverflow.com/questions/18437689/error-1148-the-used-command-is-not-allowed-with-this-mysql-version))

```sql
LOAD DATA INFILE 'ld.txt' INTO TABLE ld (@i,v) SET i=@i*2;
```

In [22]:
load_data_sql = """
LOAD DATA LOCAL INFILE '/home/bhrdwj/git/predwikt/data/raw/jawiki/dumps_unzipped/2021-12.jawiki.2013.tsv'
INTO TABLE ja_hist 
CHARACTER SET utf8mb4
FIELDS TERMINATED BY "\t";
"""

load_data_sql = """
LOAD DATA LOCAL INFILE '/home/bhrdwj/git/predwikt/data/processed/scratch_for_schema.tsv'
INTO TABLE ja_hist 
CHARACTER SET utf8mb4
FIELDS TERMINATED BY "\t";
"""

In [23]:
conn1.execute(load_data_sql)

In [32]:
conn1.execute('insert into table ja_hist (1, 2, 3)')

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'table ja_hist (1, 2, 3)' at line 1
[SQL: insert into table ja_hist (1, 2, 3)]
(Background on this error at: https://sqlalche.me/e/14/f405)

START 19:24PM

In [24]:
tblname='ja_hist'
sql_eda2 = f'select count(*) from {tblname};'
print(dt.now())
sql_rows = pd.read_sql(sql_eda2,engine1)
print(sql_rows)
print(dt.now())

2022-01-09 15:29:23.785674
   count(*)
0         0
2022-01-09 15:29:26.975744